
/*** CSS3 HELPERS ************************************************************/

/* Generic mixin for vendor properties. Usage:
	@include vendor(box-sizing, border-box);
*/
@mixin vendor($property, $value) {
	-webkit-#{$property}: $value;
	   -moz-#{$property}: $value;
		-ms-#{$property}: $value;
		 -o-#{$property}: $value;
			#{$property}: $value;
}

/* Generic mixin for vendor functions. Usage:
	@include vendor-func(background-image, linear-gradient(#000, #fff));
*/
@mixin vendor-func($property, $func) {
	#{$property}: -webkit-#{$func};
	#{$property}:    -moz-#{$func};
	#{$property}:     -ms-#{$func};
	#{$property}:      -o-#{$func};
	#{$property}:         #{$func};
}

/* Mixin for linear gradients. Usage:
	@include linear-gradient(#222, #111);
*/
@mixin linear-gradient($value...) {
	background-image: -webkit-linear-gradient($value);
	background-image:    -moz-linear-gradient($value);
	background-image:      -o-linear-gradient($value);
	background-image:         linear-gradient($value);
}

/* Mixin for box shadow. Usage:
	@include box-shadow(0 0 10px #000);
*/
@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	        box-shadow: $value;
}

/* Mixin for box sizing. Usage:
	@include box-sizing(border-box);
*/
@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

/* Mixin for transitions. Usage:
	@include transition(all .4s ease-in-out .8s);
*/
@mixin transition($value...) {
	-webkit-transition: $value;
	        transition: $value;
}




/*** THEME *******************************************************************/

/* Note: transitions are added on the background-color of the top level menu items.
	We use our timing variables to sync the background changing colour and the submenu opening! */

/* top level, <ul> element */
@mixin hf-theme-1f-ul {
	background-color: #525252;
	@include linear-gradient(#646464, #525252);
	border: 1px solid #000;
	border-radius: 8px;

	a {
		color: #eee;
		text-decoration: none;
	}

	/* instant transition when moving sideways - targets case when not using JavaScript */
	&:hover {
		>li {
			/* transition out for sibling menus when moving sideways */
			@include transition(background-color $hf-anim-length ease-in-out $hf-delay-side);
		}
	}

	/* instant transition when moving sideways - targets case when using JavaScript to add `immediate` class */
	&.immediate {
		>li {
			/* top item transition out */
			@include transition(background-color $hf-anim-length ease-in-out $hf-delay-side);

			&:hover, &.hfHover {
				/* top item transition in */
				@include transition(background-color $hf-anim-length ease-in-out $hf-delay-side);
			}
		}
	}
}

/* Top level, <li> elements: ul>li */
@mixin hf-theme-1f-li {
	background-color: transparent;
	@include box-shadow(inset 1px 1px 0 rgba(255, 255, 255, .1));
	border-right: 1px solid #000;
	color: #eee;
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
	text-align: center;

	&:last-child {
		border-right: 0;
	}

	/* top item transition out */
	@include transition(background-color $hf-anim-length ease-in-out $hf-delay-exit);

	&:hover, &.hfHover {
		background-color: rgba(0, 0, 0, .2);

		/* top item transition in */
		@include transition(background-color $hf-anim-length ease-in-out $hf-delay-enter);
	}
}

/* Second level, <ul> element: ul>li>ul */
@mixin hf-theme-2f-ul {
	background: #000;
}

/* Second level, <li> elements: ul>li>ul>li */
@mixin hf-theme-2f-li {
	font-weight: normal;
	font-size: 12px;
	line-height: 1.5;
	text-align: left;

	@media handheld, only screen and (max-width: $breakpoint-palm-end) {
		font-size: 15px;
	}

	/* submenu list item transition */
	@include transition(background-color .1s ease-in-out);

	>a {
		display: block;
		padding: 4px 8px;
	}

	&:hover {
		background-color: rgba(255, 255, 255, .2);
	}
}


