/*-------------------------*\
|	HYPERFISH MENU
\*-------------------------*/

.hyperfish-list {
	// @include box-sizing(border-box);
	width: $hf-width;
	height: $hf-height;
	margin: 0 auto;
	padding: 0;
	@include hf-theme-1f-ul;

	&:hover, &.immediate {
		>li {
			/* top item transition out */
			@include transition(background-color $hf-anim-length ease-in-out $hf-delay-side);

			&:hover, &.hfHover {
				/* top item transition in */
				@include transition(background-color $hf-anim-length ease-in-out $hf-delay-side);

				>ul {
					/* submenu transition in */
					@include transition(opacity $hf-anim-length ease-in-out $hf-delay-side, visibility $hf-anim-length ease-in-out $hf-delay-side);
				}
			}
			>ul {
				/* submenu transition out */
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-side, visibility $hf-anim-length ease-in-out $hf-delay-side);
			}
		}
	}

	>li {
		@include box-sizing(border-box);
		position: relative;
		list-style: none;
		cursor: default;
		float: left;
		width: percentage(1 / $hf-items);
		height: $hf-height;
		line-height: $hf-height;
		margin: 0;
		padding: 0 $hf-item-pad;
		@include hf-theme-1f-li;

		&:hover, &.hfHover {
			>ul {
				visibility: visible;
				opacity: 1;
				/* submenu transition in */
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-enter, visibility $hf-anim-length ease-in-out $hf-delay-enter);
			}
		}

		>ul {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			z-index: 100;
			top: $hf-height;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 0;
			@include hf-theme-2f-ul;

			/* submenu transition out */
			@include transition(opacity $hf-anim-length ease-in-out $hf-delay-exit, visibility $hf-anim-length ease-in-out $hf-delay-exit);

			>li {
				margin: 0;
				padding: 0;
				list-style: none;
				@include hf-theme-2f-li;

			}
		}
	}
}


/*-------------------------*\
|	RESPONSIVE ADJUSTMENTS
\*-------------------------*/

/* mobile */
@media handheld, only screen and (max-width: $breakpoint-palm-end) {

	.hyperfish-list, .hyperfish-list > li {
		float: none;
		width: auto;
		height: auto;
	}

	.hyperfish-list > li {
		&:hover, &.hfHover {
			> ul {
				display: block;
			}
		}
	}

	.hyperfish-list > li > ul {
		display: none;
		position: static;
	}

}
