
/*** VARIABLES ***************************************************************/

/* Menu dimensions */
$hf-width:       100% !default;
$hf-height:      36px !default;

/* Number of top-level items in menu */
$hf-items:        5   !default;

/* Padding and border width helpers */
$hf-item-pad:    10px !default;
$hf-item-bw:      1px !default;

/* Fade in/out duration */
$hf-anim-length:  .2s !default;
/* Delay, when moving mouse over menu, before menu opens */
$hf-delay-enter:  .4s !default;
/* Delay, when moving mouse out of menu, before menu closes */
$hf-delay-exit:   .8s !default;
/* Delay when moving from one menu item to an adjacent item */
$hf-delay-side:   .1s !default;


/* Breakpoint size for mobile (palm) media query - i.e. the maximum width
	before switching to non-mobile layout. */
$breakpoint-palm-end:   735px !default;



/*** HYPERFISH MAIN MENU CODE ************************************************/

.hyperfish-list {
	width: $hf-width;
	height: $hf-height;
	margin: 0 auto;
	padding: 0;
	@include hf-theme-1f-ul;

	/* instant transition when moving sideways - targets case when not using JavaScript */
	&:hover {
		>li {
			>ul {
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-side, visibility $hf-anim-length ease-in-out $hf-delay-side);
			}
		}
	}

	/* instant transition when moving sideways - targets case when using JavaScript to add `immediate` class */
	&.immediate {
		>li {
			&:hover, &.hfHover {
				>ul {
					/* submenu transition in */
					@include transition(opacity $hf-anim-length ease-in-out $hf-delay-side, visibility $hf-anim-length ease-in-out $hf-delay-side);
				}
			}
			>ul {
				/* submenu transition out */
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-side, visibility $hf-anim-length ease-in-out $hf-delay-side);
			}
		}
	}

	>li {
		@include box-sizing(border-box);
		position: relative;
		list-style: none;
		cursor: default;
		float: left;
		width: percentage(1 / $hf-items);
		height: $hf-height;
		line-height: $hf-height;
		margin: 0;
		padding: 0 $hf-item-pad;
		@include hf-theme-1f-li;

		&:hover, &.hfHover {
			>ul {
				visibility: visible;
				opacity: 1;
				/* submenu transition in */
				@include transition(opacity $hf-anim-length ease-in-out $hf-delay-enter, visibility $hf-anim-length ease-in-out $hf-delay-enter);
			}
		}

		>ul {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			z-index: 100;
			top: $hf-height;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 0;
			@include hf-theme-2f-ul;

			/* submenu transition out */
			@include transition(opacity $hf-anim-length ease-in-out $hf-delay-exit, visibility $hf-anim-length ease-in-out $hf-delay-exit);

			>li {
				margin: 0;
				padding: 0;
				list-style: none;
				@include hf-theme-2f-li;

			}
		}
	}
}


/*** RESPONSIVE ADJUSTMENTS **************************************************/

/* mobile */
@media handheld, only screen and (max-width: $breakpoint-palm-end) {

	.hyperfish-list, .hyperfish-list > li {
		float: none;
		width: auto;
		height: auto;
	}

	.hyperfish-list > li {
		&:hover, &.hfHover {
			> ul {
				display: block;
			}
		}
	}

	.hyperfish-list > li > ul {
		display: none;
		position: static;
	}

}
